.projects {
  height:auto;
  margin:50px auto;
  text-align:center;

  .blocks {
    @include block_row(50%, 25%, 10px, auto);

    .block {
      position:relative;
      line-height:0;

      .overlay {
        position:absolute;
        bottom:0;
        left:0;
        height:100%;
        width:100%;
        color:white;
        background: rgba(0, 0, 200, 0.6);
        opacity:0;
        cursor:pointer;
        transition: opacity 250ms ease-in-out;
        padding:0;


        .text {
          display:inline-block;
          margin-top:65px;
          line-height:50px;
          text-transform:uppercase;
          letter-spacing:1px;
        }

        &:hover {
          opacity:1;
        }
      }
    }

  }
}