.banner {
  height:auto;
}

@media screen and (min-width: $tablet) {

  .banner {
    overflow: hidden;
    position: relative;
    height: 500px;

    .banner-text {
      position: absolute;
      text-transform: uppercase;
      left: 0;
      top: 175px;

      &.background {
        p {
          background: black;
          color: white;
          padding: 25px;
        }
      }

      p {
        margin-bottom: 25px;

        &.first {
          font-weight: 300;
          font-size: 42px;
        }

        &.second {
          margin-left: 50px;
          font-size: 32px;
        }
      }
    }
  }
}