.container {
  max-width:$max-width;
  width: 80%;
  margin:auto;
}


.main-content {
  .content {
    margin-bottom:50px;
  }
}


@media screen and (min-width: $thirteen-inch) {

  .main-content {
    position: relative;
    min-height: 500px;

    .content {
      width: 100%;
      height: 100%;
    }

    &.uses-sidebar {
      @include sidebar($sidebar-width, 100px);
    }
  }
}

.options {
  height:200px;
  .blocks {
    text-align:center;
  }
}