html,
body {
  height:100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}


.container {
  max-width:$max-width;
  width: 80%;
  margin:auto;
}

.fullwidth {
  max-width:$max-width;
  margin:auto;
}


.alignleft,
.align-left {
  float:left;
  margin-right: $margin;
}

.alignright,
.align-right {
  float:right;
  margin-left:$margin;
}

