$header-height-mobile:100px;
$logo-height-mobile: $header-height-mobile * 0.5;
$header-height-screen:100px;
$logo-height-screen: $header-height-screen * 0.5;

header {
  background-color: white;
  height:$header-height-mobile;
  position:relative;

  &.margin {
    margin-bottom:50px;
  }


  .header {
    position:relative;

    .logo {
      max-width:calc(100% - 150px);
      width:200px;

      img {
        margin-top: $margin;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  header {
    height:$header-height-screen;

    .header {

      .logo {
        height: $logo-height-screen;
        width:auto;


        img {
          height:100%;
          margin-top: (($header-height-screen - $logo-height-screen) / 2);
          width:auto;
        }
      }
    }
  }
}