.hamburger-menu {
  color:$main-color;
  position:absolute;
  right:25px;
  top:25px;
  max-width:100px;
  z-index:100;

  .material-icons {
    font-size:32px;
  }
}

.close-menu {
  position:absolute;
  right:25px;
  top:25px;
  color:white;

  i {
    font-size:32px;
  }
}

nav {
  position:fixed;
  top:0;
  height:100%;
  padding:$padding;
  left:0;
  width:100%;
  background:$main-color;
  z-index:999;
  display:none;

  ul {
    padding:75px 25px;

    li {
      position:relative;
      width:100%;

      a {
        line-height:2em;
        border-bottom:1px solid white;
        padding-bottom:5px;
        display:block;
        color:white;
      }

      i {
        position:absolute;
        right: 5px;
        top:5px;
      }

      ul {
        display:none;
        padding:10px 0;

        li {
          line-height:2em;
          padding-left: 10px;

          a {
            color:#AAA;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {

  .hamburger-menu,
  .close-menu {
    display: none
  }

  nav {
    $_nav-height: 50px;
    position:absolute;
    right:0;
    background: none;
    top: ($header-height-screen - $_nav-height) / 2;
    height: $_nav-height;
    padding: 0;
    white-space: nowrap;
    display: block;

    ul {
      padding:0;
      float:right;

      li {
        width: auto;
        display: inline-block;

        a {
          line-height: $_nav-height;
          display: inline-block;
          float: left;
          padding: 0 10px;
          border: none;
          color: black;
          text-transform:uppercase;
          font-weight:lighter;

          &:hover {
            color:$main-color;
          }
        }
      }
    }
  }
}